.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
body{
    /* max-width: 1600px;
    width: 100%;
    margin: 0 auto; */
    color: #FFFFFF;
}

header{
    /* width: 1280px; */
    margin: 0 auto;
    background-color: #1A0B2E;
}

/* shared styles */
.background-blue{
    background-color: #1A0B2E;

}

.colored-text{
    background-image: linear-gradient(to bottom left, purple, rgb(142, 29, 122), rgb(219, 214, 46) );
    background-clip: text;
    color: transparent;

}
.button{
    background-image: linear-gradient( to bottom left, rgb(81, 7, 98), rgb(147, 25, 123), rgb(155, 107, 18), rgb(216, 216, 41));
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
    padding: 12px 16px;
    text-align: center;
}

/* nav related styles */
nav{
    display: flex;
    /* gap: 314px; */
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}



nav #menubar{
    display: none;
}
nav h3{
    color: white;
    font-size: 3.75rem;
    font-weight: 700;
}

nav .nav-ul{
    display: flex;
    gap: 32px;
}
nav .nav-link{
    text-decoration: none;
    color: white;
}
nav .nav-li{
    list-style: none;
}



/* banner related styles */
.banner-image{
    /* background-image: url(../assets/hero-circle.png), url(../assets/hero-bg.png); */
    background-repeat: no-repeat;
    width: 100%;
}

#green-button{
    color: #00FF88;
    background: none;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    padding: 12px 20px;
    text-align: center;
}

#badge{
    color: #1A0B2E;
    background-color: #00FF88;
    border: none;
    border-radius: 1000px;
    padding: 8px 16px;
    box-shadow: 0 3 27 0 #00FF88;
    margin-left: 355px;
    margin-top: 130px;
   
}

.banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/hero-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner-section .banner-image{
    /* margin-bottom: 137px; */
    background-image: url(../assets/hero-circle.png);
    width: 350px;
    height: 350px;
    margin: 0 auto;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-section .banner-text{
    margin-top: 137px;
    margin-bottom: 100px;
    text-align: center;
}
.banner-section .banner-text h2{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-section .banner-text .btn-holder{
    margin-top: 24px;

}

/* podcast section related style */
.podcast-section{
    text-align: center;
    justify-items: center;
    margin: 0 auto;
    background-color: #1A0B2E;
}
.podcast-container h3{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.podcast-container #podcast-p{
    max-width: 1200px;
    line-height: 20px;
    margin-bottom: 80px;
}
.podcast-container{
    padding-top: 40px;
    

}
.podcast-section hr{
    max-width: 1200px;
}
.star-container{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    
}
.star{
    /* border: 1px solid red;
    background-color: aqua; */
}
.star-container .star .star-h{
    font-size: 3rem;
    color: #00FF88;
}


/* Responsive Section */
@media screen and (max-width: 576px) {
    nav .nav-ul{
        display: none;
    }
    
    nav button{
        display: none;
    }
    nav #menubar{
        display: inline;
    }
    .banner-section .banner-image{
        background-image: url(../assets/hero-circle.png);
        background-size: cover;
        width: 300px;
        height: 300px;
        margin: 0 auto;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .star-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}